<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h5> feel free to login </h5>
                    <h1>Restaurent Login</h1><hr>
                </div>

                <form [formGroup]="loginForm" (ngSubmit)="login()" >
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input type="email" formControlName="email" placeholder="Enter Your Email ID" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" formControlName="password"  placeholder="Enter Your Password " class="form-control" id="exampleInputPassword1">
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
                <a  routerLink="/signup" > New user? click to signup ! </a>
            </div>
        </div>
    </div>
</div>